[user]
  email = zo.ly@outlook.com
  name = zo.ly
[alias]
  co = checkout
  s = status
  sh = stash
  of = !which onefetch && onefetch
  og = log --graph --abbrev-commit --decorate --date=relative --all

[pull]
  ff = only
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  hyperlinks = true
  hunk-header-style = omit
[merge]
  conflictStyle = zdiff3
[diff]
  colorMoved = default
[color]
  ui = true
[includeIf "gitdir:~/workspace/"]
  path = .gitconfig-work
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
